.service {
  min-height: 73.13rem;
}
.service__title {
  font-size: clamp(1.5rem, 7vw, 2rem);
  font-weight: 700;
  font-family: "Arial";
  text-align: center;
  color: #048C9F;
  text-transform: uppercase;
  margin: 1.88rem 0 7.5rem 0;
}
@media (max-width: 590px) {
  .service__title {
    margin: 1.88rem 0 3.75rem 0;
  }
}
.service__list {
  display: flex;
  gap: 2.19rem;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0 1.88rem 0;
}
.service__item {
  max-width: 31.25rem;
  min-height: 31.88rem;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #f4fcfb, #eefaf9, #e8f8f6, #e1f6f4, #dbf4f1);
  border-radius: 0.94rem;
  padding-top: 12.13rem;
  position: relative;
}
.service__item::after {
  content: "";
  width: 16.25rem;
  max-width: calc(100% - 1.88rem);
  height: 10.63rem;
  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../img/dermatologie.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}
.service__item--endo::after {
  background-image: url("../img/endokrinologie.png");
}
.service__item--gastro::after {
  background-image: url("../img/gastroenterologie.png");
}
.service__item--gynda::after {
  background-image: url("../img/gynekologie.png");
}
.service__item--kardio::after {
  background-image: url("../img/kardiologie.png");
}
.service__item--ofta::after {
  background-image: url("../img/oftalmologie.png");
}
.service__item--stoma::after {
  background-image: url("../img/stomatologie.png");
}
.service__item--respi::after {
  background-image: url("../img/respiratorni_aparat.png");
}
.service__item--chirur::after {
  background-image: url("../img/chirurgie.png");
}
.service__item--onkol::after {
  background-image: url("../img/onkologie.png");
}
.service__item--neur::after {
  background-image: url("../img/neurologie.png");
}
.service__item--urol::after {
  background-image: url("../img/urologie.png");
}
.service__text {
  font-size: clamp(1rem, 6vw, 1.5rem);
  font-weight: 700;
  font-family: "Arial";
  text-align: left;
  color: #048C9F;
  text-transform: uppercase;
  padding: 2.19rem 1.5rem 0;
}
.service__subtext {
  font-size: clamp(1rem, 7vw, 1.5rem);
  font-weight: 400;
  font-family: "Arial";
  text-align: left;
  line-height: 1.3;
  color: #048C9F;
  padding: 1.5rem;
}
