.team {
    padding-bottom: rem(30px);
    &__title {
        font-size: clamp(rem(16px), 5vw, rem(32px));
        font-weight: 700;
        font-family:'Arial';
        text-align: center;
        color: $main-text-color;
        background-color: $second-text-color;
        text-transform: uppercase;
        padding: rem(30px);
    }
    &__list {
        display: flex;
        background-image: $main-backgound-color;
        border-radius: rem(15px);
        flex-wrap: wrap;
        justify-content: center;
        gap: rem(65px);
        padding: rem(22px) rem(37px) rem(30px) rem(37px);
    }
    &__picture {
        border-radius: 50%;
        border: solid 5px #60CEC0;
        margin: 0 0 rem(10px) 0;
        @media (max-width: $breakpoint-tablet) {
            max-width: calc(100% - 5px);
        }
    }
    &__text {
        font-size: clamp(rem(11px), 5vw, rem(16px));
        font-weight: 400;
        font-family: 'Arial';
        text-align: center;
        line-height: 1.3;
        color: $main-text-color;
    }
}
