//COLORS
$main-text-color: #048C9F;
$second-text-color: #FFFFFF;
$third-text-color: #104D7B;

//BACKGROUND COLORS
$main-backgound-color: linear-gradient(to bottom, #f4fcfb, #eefaf9, #e8f8f6, #e1f6f4, #dbf4f1);
$background-image-box: linear-gradient(to right bottom, #60cec0, #68d0c7, #70d3cd, #78d5d3, #81d7d8);

//Variable for base font-size using in page
$base-font-size: 16px;

//BREAKPOINTS
$breakpoint-desktop: 1090px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 830px;
$breakpoint-mobile: 590px;